body {
    font-family: 'Hind', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #1D1D1B;
    line-height: 1.5em;
    padding: 50px 50px 50px 50px;
    background-color: rgba(199, 199, 199, 0.75);
    margin-left: 100px;
    margin-right: 100px;
}

.container {
    background-color: rgba(255, 255, 255, 0.76);
}

img {
    max-width: 100%; /* Afbeeldingen responsive maken */
    padding-left: 25px;
}



/* Voeg jouw css hieraan toe */

h1 {
    font-weight: medium;
}
/* Introductie */
#logo {
    width: 300px;
    clear: left;
}

.info {
    float: left;
    padding-right: 100px;
    /* border-right: 1px solid #333; */
}

.intro {
    margin-left: 200px;
    border-left: 1px solid #333;
    padding-top: 20px;
}

#opdracht {
    clear: left;
}

a{
    text-decoration: none;
    color: #333;
}

a:hover{
    text-decoration: underline;
    font-weight: bolder;
}

p{
    padding-left: 10px;
}

/* Concurrentieanalyse */

.analyse {
    text-align: center;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.4);
    margin-left: 2%;
    margin-top: 20px;
}

.analyseneg {
    text-align: center;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.4);
    margin-top: 100px;
    margin-left: -180px;
}

.analysetxt {
    padding: 10px;
}

.analyseflex {
    display: flex;
    flex-wrap: wrap;    
}

/* Styleguide */

h2 {
    font-size: 30px;
    font-weight: lighter;
    padding-top: 50px;
    clear: left;
}

#logo {
    width: 50%;
}

.kleur1 {
    width: 100px;
    height: 100px;
    background-color: #2e2e31;
    border-radius: 5px;
    
}

.kleur2 {
    width: 100px;
    height: 100px;
    background-color: #679c36;
    border-radius: 5px;
    
}

.kleur3 {
    width: 100px;
    height: 100px;
    background-color: #1A3700;
    border-radius: 5px;
    
}

.kleur4 {
    width: 100px;
    height: 100px;
    background-color: #FFFFFF;
    border: 1px solid #2e2e31;
    border-radius: 5px;
    
}

#kleur{
    padding-left: 20px;
}

#color{
    float: left;
    margin-left: 30px;
}

.nav{
    width: 70px;
    height: 3px;
    background-color: #679c36;
    margin-top: 15px;
}

#opschuiven{
    margin-left: 30px;
}

#buttons{
    display: flex;
    align-items: flex-start;
    margin-left: 30px;
}

h3{
    background-color: #2e2e31;
    color: white;
    width: 150px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 8px 5px 5px 5px;
    font-size: 33px;
    border-radius: 5px;
    font-weight: lighter;
}

h4{
    background-color: #2e2e31;
    color: white;
    width: 150px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    padding: 20px 5px 5px 5px;
    font-size: 44px;
    border-radius: 5px; 
    font-weight: medium;   
}

h5{
    color: #1A3700;
    width: 150px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    padding: 20px 5px 5px 5px;
    font-size: 30px;
    border-radius: 5px; 
    font-weight: medium;   
}

h6{
    background-color: #2e2e31;
    color: white;
    width: 150px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    padding: 20px 5px 5px 5px;
    font-size: 25px;
    font-weight: lighter;
    border-radius: 5px;    
}

