body {
    font-family: 'Hind', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 50px 50px 50px 50px;
    background-color: hsla(91, 65%, 61%, 1);
}

img {
    max-width: 100%; /* Afbeeldingen responsive maken */
}

/* Voeg jouw css hieraan toe */

.analyse {
    text-align: center;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.2);
}

.analysetxt {
    padding: 10px;
}