body {
    font-family: 'Hind', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #1D1D1B;
    line-height: 1.5em;
    padding: 50px 50px 50px 50px;
    background-color: rgba(199, 199, 199, 0.75);
    margin-left: 100px;
    margin-right: 100px;
}

.container {
    background-color: rgba(255, 255, 255, 0.76);
}

img {
    max-width: 100%; /* Afbeeldingen responsive maken */
}

/* Voeg jouw css hieraan toe */

/* Introductie */
#logo {
    width: 300px;
    clear: left;
}

.info {
    float: left;
    padding-right: 100px;
    /* border-right: 1px solid #333; */
}

.intro {
    margin-left: 200px;
    border-left: 1px solid #333;
    padding-top: 20px;
}

#opdracht {
    clear: left;
}

a{
    text-decoration: none;
    color: #333;
}

a:hover{
    text-decoration: underline;
    font-weight: bolder;
}

p{
    padding-left: 10px;
}

/* Concurrentieanalyse */

.analyse {
    text-align: center;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.4);
    margin-left: 2%;
    margin-top: 20px;
}

.analyseneg {
    text-align: center;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.4);
    margin-top: 100px;
    margin-left: -180px;
}

.analysetxt {
    padding: 10px;
}

.analyseflex {
    display: flex;
    flex-wrap: wrap;    
}